In [120]:
import pandas as pd
import numpy as np
from flask import jsonify
import pprint

In [121]:
metadata_file = "db/Belly_Button_Biodiversity_Metadata.csv"
sample = "BB_940"

In [122]:
otu_file = "db/belly_button_biodiversity_samples.csv"
otu_pd = pd.read_csv(otu_file)
    #otu_pd = otu_pd.set_index('otu_id')
    #Removing zeros 
sample_otu_df = otu_pd[otu_pd[sample] > 0]

In [123]:
#metadata_pd = metadata_pd.set_index('SAMPLEID')
filtered_df = sample_otu_df[['otu_id',sample]]
sorted_df = filtered_df.sort_values(by=sample, ascending = False).reset_index()
sorted_df = sorted_df[['otu_id',sample]]
sorted_df.head()

   otu_id  BB_940
0    1167   163.0
1    2859   126.0
2     482   113.0
3    2264    78.0
4      41    71.0

In [128]:
sorted_df = sorted_df.transpose()
sorted_df.head()

,0,1,2,3,4,5,6,7,8,9,...,204,205,206,207,208,209,210,211,212,213
otu_id,1167.0,2859.0,482.0,2264.0,41.0,1189.0,352.0,189.0,1977.0,2318.0,...,1174.0,1179.0,1191.0,1199.0,1217.0,1223.0,1227.0,1243.0,1254.0,3453.0
BB_940,163.0,126.0,113.0,78.0,71.0,51.0,50.0,47.0,40.0,40.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [129]:
sorted_df_list = sorted_df.values.tolist()
sorted_df_list

[[1167.0,
  2859.0,
  482.0,
  2264.0,
  41.0,
  1189.0,
  352.0,
  189.0,
  1977.0,
  2318.0,
  3450.0,
  874.0,
  1959.0,
  2191.0,
  1950.0,
  2077.0,
  2275.0,
  2184.0,
  944.0,
  2244.0,
  2811.0,
  2024.0,
  2419.0,
  165.0,
  2782.0,
  2396.0,
  2011.0,
  2247.0,
  2964.0,
  1795.0,
  830.0,
  2722.0,
  307.0,
  2178.0,
  2908.0,
  1193.0,
  1208.0,
  2039.0,
  2167.0,
  1274.0,
  2739.0,
  2737.0,
  1314.0,
  907.0,
  2936.0,
  2186.0,
  1962.0,
  2335.0,
  833.0,
  2291.0,
  2350.0,
  1503.0,
  1505.0,
  1232.0,
  1498.0,
  2342.0,
  1169.0,
  2475.0,
  2483.0,
  412.0,
  2491.0,
  357.0,
  2065.0,
  2110.0,
  121.0,
  159.0,
  170.0,
  258.0,
  1968.0,
  340.0,
  342.0,
  259.0,
  1960.0,
  2571.0,
  725.0,
  1497.0,
  2546.0,
  2235.0,
  2188.0,
  513.0,
  2165.0,
  2136.0,
  2197.0,
  2212.0,
  2216.0,
  2217.0,
  2114.0,
  2202.0,
  2096.0,
  2093.0,
  2192.0,
  2084.0,
  2115.0,
  11.0,
  2229.0,
  2256.0,
  2829.0,
  2837.0,
  2840.0,
  2852.0,
  2873.0,
  2876.0,
  2915.0,
  2917.0,
  2949.0,
  2968.0,
  2985.0,
  2989.0,
  2994.0,
  3427.0,
  3439.0,
  2820.0,
  2795.0,
  2758.0,
  2508.0,
  2263.0,
  2268.0,
  2334.0,
  2413.0,
  2080.0,
  2473.0,
  2539.0,
  2753.0,
  2542.0,
  2549.0,
  2603.0,
  2633.0,
  2750.0,
  2752.0,
  2423.0,
  1947.0,
  2068.0,
  314.0,
  327.0,
  328.0,
  359.0,
  361.0,
  373.0,
  381.0,
  386.0,
  400.0,
  404.0,
  407.0,
  414.0,
  564.0,
  593.0,
  620.0,
  650.0,
  728.0,
  791.0,
  320.0,
  300.0,
  821.0,
  246.0,
  22.0,
  24.0,
  39.0,
  42.0,
  79.0,
  81.0,
  84.0,
  93.0,
  102.0,
  122.0,
  133.0,
  154.0,
  185.0,
  198.0,
  226.0,
  235.0,
  244.0,
  794.0,
  841.0,
  2062.0,
  1496.0,
  1502.0,
  1515.0,
  1524.0,
  1576.0,
  1600.0,
  1935.0,
  1944.0,
  19.0,
  1954.0,
  1965.0,
  1984.0,
  1991.0,
  1997.0,
  2036.0,
  2040.0,
  2051.0,
  2054.0,
  1501.0,
  1495.0,
  854.0,
  1484.0,
  866.0,
  881.0,
  919.0,
  922.0,
  1094.0,
  1115.0,
  1155.0,
  1159.0,
  1174.0,
  1179.0,
  1191.0,
  1199.0,
  1217.0,
  1223.0,
  1227.0,
  1243.0,
  1254.0,
  3453.0],
 [163.0,
  126.0,
  113.0,
  78.0,
  71.0,
  51.0,
  50.0,
  47.0,
  40.0,
  40.0,
  37.0,
  36.0,
  30.0,
  28.0,
  25.0,
  23.0,
  22.0,
  19.0,
  19.0,
  14.0,
  13.0,
  13.0,
  13.0,
  12.0,
  12.0,
  11.0,
  11.0,
  11.0,
  10.0,
  10.0,
  10.0,
  8.0,
  7.0,
  7.0,
  7.0,
  6.0,
  5.0,
  5.0,
  5.0,
  4.0,
  4.0,
  4.0,
  3.0,
  3.0,
  3.0,
  3.0,
  3.0,
  3.0,
  3.0,
  2.0,
  2.0,
  2.0,
  2.0,
  2.0,
  2.0,
  2.0,
  2.0,
  2.0,
  2.0,
  2.0,
  2.0,
  2.0,
  2.0,
  2.0,
  2.0,
  2.0,
  2.0,
  2.0,
  2.0,
  2.0,
  2.0,
  2.0,
  2.0,
  2.0,
  2.0,
  2.0,
  2.0,
  2.0,
  2.0,
  2.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0]]

In [130]:
data = []
for item in sorted_df_list:
    data.append({
        "otu_ids": item[0],
        "sample_values": item[1]
        })

In [131]:
print (data)

[{'sample_values': 2859.0, 'otu_ids': 1167.0}, {'sample_values': 126.0, 'otu_ids': 163.0}]